<html>
<head>
    <title>Node Authentication</title>
    <style>
        body{ 
            padding-top:80px; 
        } 
        a{
            padding: 50px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron">
        <h1>Welcome to Bracketology</h1>

        <a href="/login" class="btn btn-default">Login</a>
        <a href="/signup" class="btn btn-default">Signup</a>
    </div>

</div>
</body>
</html>