<h1>What's the name of the tournament?</h1>
<form method = "POST" action = "/createTourny">
	<input type = "text" name = "title">

<br><br><br><br><br><br>

<h2>Seeding:</h2>
<br>
<form method = "POST" action="/createTourny">
  Seed #1:<input type="text" name="Seed1"> <br>
  Seed #2:<input type="text" name="Seed2"> <br> 
  Seed #3:<input type="text" name="Seed3"> <br>
  Seed #4:<input type="text" name="Seed4"> <br> 
  Seed #5:<input type="text" name="Seed5"> <br> 
  Seed #6:<input type="text" name="Seed6"> <br> 
  Seed #7:<input type="text" name="Seed7"> <br> 
  Seed #8:<input type="text" name="Seed8"> <br> 
  <input type="submit">
</form>